
<h2>Users List</h2>
<table class="table" ng-if="users.length>0">
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact No</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{$index + 1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.address}}</td>
        <td>{{user.contactNo}}</td>
        <td>
            <a ui-sref="edit({id:user._id})">Edit</a>
            |
            <a href="#" ng-click="deleteUser(user._id)">Delete</a>
        </td>
    </tr>
</table>
<div ng-if="users.length==0">
    No record found!
</div>
</body>
</html>